@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';

// Toastr
@import "~toastr/build/toastr.min.css";
//@import "toastr";

@import "src/pickdate";

@import "admin-layout/css/style.css";
@import "admin-layout/css/style.css";
@import "admin-layout/vendors/base/vendor.bundle.base.css";
@import "admin-layout/vendors/mdi/css/materialdesignicons.min.css";
@import "admin-layout/vendors/datatables.net-bs4/dataTables.bootstrap4.css";

    
@import 'sidebar.scss';

.rounded-radius{
    border-radius: 2em!important;
    cursor: pointer;
}
.ui.card>:first-child, .ui.cards>.card>:first-child {
border-radius: 1.9rem 1.9rem 0 0!important;
border-top: none!important;
} 

//transation with the name fade 
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}  


//transation with the name bounce 
.bounce-enter-active {
    animation: bounce-in .5s;
    }
    .bounce-leave-active {
    animation: bounce-in .5s reverse;
    }
    @keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
} 

/* Estilizar o cartao da casa */
.content-house {
    position: relative;
    width: 100%;
    height: 100%;
}

.overlay-house {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2em!important;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.content-house:hover .overlay-house {
    display: block;
    background: rgba(0, 0, 0, 0.473);
}
.content-house .button-down{
    position: absolute;
    left: 70px;
    bottom: -150px;
}
.content-house .image-house {
    position: absolute;
    /* width: 500px;
    height: 300px;
    left: 0; */
}

.title-house {
    position: absolute;
    /* width: 500px; */
    width: 100%;
    left: 0;
    top: 120px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
    }

.content-house:hover .title-house {
    top: 90px;
    }

.button-house {
    position: absolute;
    /* width: 500px; */
    width: 100%;
    left:0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.button-house a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

.content-house:hover .button-house {
    opacity: 1;
}




/* Estilizar filtro */
.checkbox-btn {
    position: relative;
    }

    .checkbox-btn input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    }

    .checkbox-btn input:checked ~ .btn {
    border-color: #3167eb;
    background-color: #3167eb;
    color: #fff;
    }

    .btn-light {
    display: inline-block;
    font-weight: 600;
    color: #343a40;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    border: 1px solid #eee;
    padding: 0.45rem 0.85rem;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 0.37rem;
    }



    /* .multiselect {
        width: 200px;
    } */

   /*  .selectBox {
    position: relative;
    } */

    .selectBox select {
    width: 100%;
    font-weight: bold;
    }

    .overSelect {
        position: relative;
    }

    #checkboxes {
        //display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0px;
        background: rgb(255, 255, 255);
        border: 1px #dadada solid;
        color: brown;
        
    }

    #checkboxes label {
    display: block;
    }

    #checkboxes label:hover {
    background-color: #1e90ff;
    }

    

    label.radio {
        cursor: pointer
    }

    label.radio input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        pointer-events: none
    }

    label.radio span {
        /* padding: 3px 9px; */
        /* border: 1px solid #dc3545; */
        display: inline-block;
        color: #dc3545;
        /* border-radius: 5px; */
        /* font-size: 11px; */
        text-transform: uppercase
    }

    label.radio input:checked+span {
        border-color: #dc3545;
        background-color: #dc3545;
        color: #fff
    }

    /* CITY AND COUTIES */
    label.cities {
        cursor: pointer
    }

    label.cities input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        pointer-events: none
    }

    label.cities i.icon {
        display: none;
    }
    label.cities:hover i.icon{
        display: inline-block;
        text-transform: uppercase
    }
    
    label.cities input:checked+span.city {
        color: #dc3545;
        
    }
    label.cities input:checked+span.city i.icon{
        display: inline-block;
        color: #dc3545;
        
    }
    input[type="range"] {
        -moz-appearance: none;
        -webkit-appearance: none;
        background: #eef1f6;
        border-radius: 3px;
        height: 6px;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        outline: none;
    }
    input[type="range"]::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        background-color: #5f48ff;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%20.5v7L12%204zM0%204l4%203.5v-7z%22%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
        background-position: center;
        background-repeat: no-repeat;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        height: 36px;
        width: 36px;
    }
    input[type="range"]::-moz-range-thumb {
        background-color: #5f48ff;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%20.5v7L12%204zM0%204l4%203.5v-7z%22%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
        background-position: center;
        background-repeat: no-repeat;
        border: 0;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        height: 36px;
        width: 36px;
    }
    input[type="range"]::-ms-thumb {
        background-color: #5f48ff;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%228%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8%20.5v7L12%204zM0%204l4%203.5v-7z%22%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
        background-position: center;
        background-repeat: no-repeat;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        height: 36px;
        width: 36px;
    }
    input[type="range"]::-moz-focus-outer {
        border: 0;
    }

    .pricing-slider {
        max-width: 280px;
        margin: 0 auto;
    }

    .form-slider span {
        display: block;
        font-weight: 500;
        text-align: center;
        margin-bottom: 16px;
    }

    .pricing-slider {
        margin-bottom: 48px;
    }

    .pricing-slider {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .pricing-slider input {
        width: 100%;
    }
    .pricing-slider .pricing-slider-value {
        position: absolute;
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
        color: #909cb5;
        margin-top: 8px;
        --thumb-size: 36px;
    }
    .pricing-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -12px;
        margin-left: -12px;
        margin-top: -12px;
    }
    .pricing-item {
        flex-basis: 280px;
        max-width: 280px;
        box-sizing: content-box;
        padding: 12px;
    }
    .pricing-item-inner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100%;
        padding: 24px;
        box-shadow: 0 8px 16px rgba(46, 52, 88, 0.16);
    }
    .pricing-item-title {
        font-weight: 500;
    }
    .pricing-item-price {
        display: inline-flex;
        align-items: baseline;
        font-size: 20px;
    }
    .pricing-item-price-amount {
        font-size: 36px;
        line-height: 48px;
        font-weight: 500;
        color: #191e2a;
    }
    .pricing-item-features-list {
        list-style: none;
        padding: 0;
    }
    .pricing-item-features-list li {
        margin-bottom: 0;
        padding: 14px 0;
        position: relative;
        display: flex;
        align-items: center;
    }
    .pricing-item-features-list li::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
        height: 1px;
        background: #e9ecf8;
    }
    .pricing-item-features-list li::after {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 12px;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%2011h14v2H5z%22%20fill%3D%22%239298B8%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        -webkit-box-ordinal-group: 0;
        order: -1;
    }
    .pricing-item-features-list li.is-checked::after {
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill-rule%3D%22nonzero%22%20fill%3D%22none%22%3E%3Ccircle%20fill%3D%22%2300C2A9%22%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M10.5%2012.267l-2.5-1.6-1%201.066L10.5%2016%2017%209.067%2016%208z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    }

    
    .bg-main{
        
        background-color: #FF5859;
    }
    
    .main-color{
        
        color: #FF5859;
    }


    
.myProfileImage{  
    object-fit: cover;
    width: 100%;
    height: 200px;
}

@media print {
    .not-print {
      display: none;
    }
    .background-body-card {
      background: #f8f9fa;
    }
    .card-header{
      background-color: #FF5859!important;
    }
    .printThis{
      width: 100%;
      text-align: center;
      background: #f8f9fa;
    }
    @page {
      size: landscape
    }
}


    /*\
    * Restore Bootstrap 3 "hidden" utility classes.
    \*/

    /* Breakpoint XS */
    @media (max-width: 575px)
    {
        .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down, 
        .hidden-xs-up, 
        .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
        {
            display: none !important;
        }

    }

    /* Breakpoint SM */
    @media (min-width: 576px) and (max-width: 767px)
    {
        .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down, 
        .hidden-xs-up, .hidden-sm-up, 
        .hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
        {
            display: none !important;
        } 
    }

    /* Breakpoint MD */
    @media (min-width: 768px) and (max-width: 991px)
    {.hidden-md-down, .hidden-lg-down, .hidden-xl-down, 
        .hidden-xs-up, .hidden-sm-up, .hidden-md-up, 
        .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl
        {
            display: none !important;
        } 
    }

    /* Breakpoint LG */
    @media (min-width: 992px) and (max-width: 1199px)
    {
        .hidden-lg-down, .hidden-xl-down, 
        .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, 
        .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl
        {
            display: none !important;
        } 
    }

    /* Breakpoint XL */
    @media (min-width: 1200px)
    {
        .hidden-xl-down, 
        .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up, 
        .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg
        {display: none !important;
        } 
    }

